<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106181398821-d9sflktige4dpune1vh3kikp9sj6meu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106181398821-d9sflktige4dpune1vh3kikp9sj6meu3</string>
	<key>API_KEY</key>
	<string>AIzaSyDKi3VHPzYows9P0JrHISm7R10t5XWg2Lc</string>
	<key>GCM_SENDER_ID</key>
	<string>106181398821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.hg-sips</string>
	<key>PROJECT_ID</key>
	<string>hg-sip</string>
	<key>STORAGE_BUCKET</key>
	<string>hg-sip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106181398821:ios:03e7b8b8751ef1608acacc</string>
</dict>
</plist>